body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  
}

.content {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;
  padding: 12px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.article {
  height: 200px;
  width: 100%;
  margin: 12px 0;
}


.positionBadge{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}